<h1>Editing squad</h1>

<%= render :partial => "form" %>

<%= link_to 'Show', @squad %> |
<%= link_to 'Back', squads_path %> |
<%= link_to 'Destroy', @squad, :confirm => 'Are you sure?', :method => :delete %>